.barContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100vw;
  height: 3.5rem;
  border: 2px;
  top: 0;
  background-color: transparent;
  z-index: 2;
}

.pageButton {
  color: black;
  background-color: transparent;
  border: none;
  font-weight: 800;
}

.activeButton {
  color: black;
  background-color: transparent;
  border: none;
  font-weight: 100;
  cursor: auto;
}

.activeButton:hover span {
  color: transparent;
}

.column {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .barContainer {
    display: none;
  }
}
