/* @import url("https://fonts.googleapis.com/css2?family=Rubik"); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  font-weight: 100;
  font-size: xx-large;
}

h3 {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  font-weight: 100;
  font-size: larger;
}
h5 {
  margin-bottom: 0.5rem;
  font-size: large;
}

.container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.text-container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* width: 60%; */
  max-width: 70rem;
  margin: 0 5%;

  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 3rem;
  gap: 2rem;
}
.column-text {
  padding: 2%;
  flex-basis: 60%;
}

.column-image {
  flex-basis: 40%;
  filter: drop-shadow(rgba(50, 50, 93, 0.25) 0px 7px 13px)
    drop-shadow(rgba(0, 0, 0, 0.3) 0px 4px 8px);
}
.column-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  clip-path: circle();
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

button {
  border-radius: 8px;
  padding: 16px 22px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;

  cursor: pointer;
  background-color: transparent;
  border: none;
}
button span {
  color: transparent;
}

button:hover span {
  /* background: linear-gradient(
    20deg,
    rgb(169, 39, 255) 10%,
    rgb(0, 223, 223) 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: rgb(255, 0, 128);
}

.explore-button {
  color: white;
  background: transparent;
  border: 2px;
  font-weight: 800;
  border-color: white;
  animation: pulse 2s ease-in infinite;
}
.explore-button:hover {
  color: rgb(202, 202, 202);
  animation: 0;
  scale: 1.1;
}

.video-background {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.video-background iframe {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 16/9) {
  .video-background iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-background iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh;
  }
}

@keyframes pulse {
  0%,
  100% {
    scale: 1;
  }

  50% {
    scale: 1.1;
  }
}
